<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Fan Page</title>
    
    <link rel="stylesheet" href="../static/css/global.css">
    
    <link rel="stylesheet" href="../static/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    
    <nav>
        <a href="index.html" class="logo">VALORANT <span>FAN</span></a>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="agentes.html">Agentes</a></li>
            <li><a href="armas.html">Armas</a></li>
            <li><a href="contacto.html">Contacto Dev</a></li>
            <li><a href="registro.html" class="btn-registro">Registrarse</a></li>
        </ul>
    </nav>

    <header class="hero">
        <h1>BIENVENIDO AL PROTOCOLO</h1>
        <p>
            Descubre a los agentes, domina el arsenal y prepárate para la batalla en el mejor shooter táctico 5v5.
        </p>
        <br>
        <a href="agentes.html" class="btn-hero">VER AGENTES</a>
    </header>

    <footer>
        <div class="footer-socials">
            <a href="https://www.instagram.com/valorantlatam/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/valorantlatam" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="footer-text">
            © 2025 Valorant Project - <strong>Proyecto Universitario Académico</strong>
        </p>
    </footer>

    <script src="../static/js/main.js"></script>
</body>
</html>